<header class="header">
        <div class="header__container container mx-auto">
            <div class="header__logo logo">
                <img class="logo__image" src="./assets/image/svg/logo.svg" alt="Профальпстрой Логотип">
            </div>
            <div class="header__info info">
                <img class="info__icon" src="./assets/image/map.png" alt="Иконка карты">
                <p class="info__text">
                    Работаем в любой точке Москвы и МО
                </p>
            </div>
            <div class="header__callback callback">
                <a href="#" class="contact__callback">Обратный звонок</a>
                 <svg class="w-4 h-4">
                    <use  xlink:href="./assets/image/sprite.svg#phone"></use>
                </svg>
            </div>
            <div class="header__contact">
                <div class="contact__time">Пн-Пт 10:00-19:00, Сб-Вс 10:00-17:00</div>
                <div class="contact__phone">+7 (495) 104-60-04</div>
            </div>
            <div class="header__social">
                    <a class="contact__social-link" href="#"><img src="./assets/image/svg/message-whatsapp.svg" alt="WhatsApp"></a>
                    <a class="contact__social-link" href="#"><img src="./assets/image/svg/message-telegram.svg" alt="Telegram"></a>
            </div>
        </div>
        <nav class="header__nav nav container mx-auto">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="#">ГЛАВНАЯ</a></li>
                <li class="nav__item"><a class="nav__link" href="#">ВИДЫ РАБОТ</a>
                    <ul>
                        <li><a href="">Один</a></li>
                        <li><a href="">Один</a></li>
                    </ul>
                </li>
                <li class="nav__item"><a class="nav__link" href="#">ПОРТФОЛИО</a></li>
                <li class="nav__item"><a class="nav__link" href="#">ЦЕНЫ</a></li>
                <li class="nav__item"><a class="nav__link" href="#">АКЦИИ</a></li>
                <li class="nav__item"><a class="nav__link" href="#">СТАТЬИ</a></li>
                <li class="nav__item"><a class="nav__link" href="#">КОНТАКТЫ</a></li>
            </ul>
        </nav>
</header>
