body {
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}

b {
  font-weight: 600;
}

.container {
  max-width: 103.125rem;
  padding: 0 .9375rem;
}

@media (min-width: 71.25rem) {
  .container {
    padding: initial;
  }
}
